.site-header {
    margin-top: 20px;
}

.site-header__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header__top-box {
    width: 150px;
    height: 150px;
    border: 3px solid red;
    border-radius: 50%;
    background-image: url(../../img/img-lock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position: relative;

}

.site-header__bottom-box {
    width: 70px;
    height: 70px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: pink;
    background-image: url(../../img/boy-img.jpg);
    background-size: 100%;
    z-index: 10;
    position: absolute;
    margin-left: 83px;
    margin-top: 90px;
}